.form-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.flatpickr-day.selected {
  background: $primary !important;
  border-color: $primary !important;
}

// Position Next button at the end of the page

.position {
  position: relative;
}

.btn-dates {
  position: absolute;
  bottom: 20px;
  width: 92%;
  left: 20px;
}

