.summary {
  background-color: white;
  width: 80%;
  margin-top: 30px;
  text-align: center;
  // p {
  //   justify-content: center;
  //   text-align: center;
  //   line-height: 2;
  //   margin-bottom: 20px;
  // }

  padding: 20px;
  // h2 {
  //   margin-top: 10px;
  //   margin-bottom: 20px;
  //   color: $primary;
  // }
  .far {
    margin-top: 0;
    font-size: 32px;
  }
  p {
    margin-bottom: 0;
    // padding-bottom: 10px;
  }
  .fontawesome {
    width: 46px;

  }
  .info {
    text-align: left;

  }
  h5 {
    margin-bottom: 0;
  }
}

.btn-pay {
  width: 80%;
  margin: 20px auto;
}
