.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-desktop {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-container {
  padding: 10px 10%;
}

.flatpickr-day.selected {
  background: $primary !important;
  border-color: $primary !important;
}

.pick-dates-desktop{
  background-color:#fff;
  justify-content: center;
  margin: 24px 25%;
}

.form-container-desktop {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button-desktop-dates{
  display: flex;
  justify-content: center;
}