.languages {
  justify-content: space-between;
}
input:checked + label.lingo {
  opacity: 1;
}
.lingo {
  background-image: url(https://images.unsplash.com/photo-1524985069026-dd778a71c7b4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 90px;
  width: 100px;
  opacity: 0.4;
}



.audiences {
  justify-content: space-between;
}
