.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
  padding: 0;
}

.form-group {
  margin-top: -22px;
}

@media (min-width: 800px) {
  .form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}

.booking-container {
  padding: 10px 10%;
}

.flatpickr-day.selected {
  background: $primary !important;
  border-color: $primary !important;
}

.pick-dates-desktop{
  background-color:#fff;
  justify-content: center;
  margin: 24px 25%;
}

.form-container-desktop {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button-desktop-dates{
  display: flex;
  justify-content: center;
}