.nav-link {
  color: $primary;
  .active {
    color: white;
  }
}
.nav-item {
  width: 50%;
 }

#pills-past-tab, #pills-upcoming-tab {
  text-align: center;
  padding: 8px;
}

.fa-pencil-alt {
  font-size: 16px;
  color: $primary;
}
