.show-banner{
  height: 35vh;
  background-size: cover;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.opacity-animation {
  animation: opacity linear 1s;
}

.past-event {
  min-height: calc(100vh - 160px);
}

.title-event {
  text-align: center;
}

.details {
  background-color: white;
  border: 1px solid $primary;
  border-radius: 4px;
  padding: 4px 4%;
}

.read-more {
  color: $primary;
}

