.show-banner{
  height: 35vh;
  background-size: cover;
  width: 100%;
}

.opacity-animation {
  animation: opacity linear 1s;
}

.past-event {
  min-height: calc(100vh - 160px);
}

.title-event {
  text-align: center;
}

.details {
  background-color: white;
  border: 1px solid $primary;
  border-radius: 4px;
  padding: 4px 4%;
}

.read-more {
  color: $primary;
}

.map-show-page {
  width: 100vw;
  height: 50vh;
}

.grid-categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.grid-events {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

@media (max-width: 400px) {
  .grid-categories {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 700px) {
  .grid-categories {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  } .desktop-center {
    margin: 0 auto;
  }
}
