// Specific CSS for your home-page
.center-block{
    background: #FFFFFF;
    border: 1px solid #868686;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px #868686;
    overflow: hidden;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;

}

.text-home{
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: #FFFFFF;
    font-weight: bold;
}

.form-tag{
    width: 50%;
    text-align: center;
    a{
        width: 100%;
        height: 100%;
        background-color: $primary;
        color: #FFFFFF;
        display: block;
        text-decoration: none;
        padding: 8px;


    }
    a.active{
        background-color: white;
        color: $primary;
        text-decoration: none;
        font-weight: bold;


    }
}

.home-banner{
    background-image: url(https://images.unsplash.com/photo-1516450360452-9312f5e86fc7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-position: -169px -37px;
}

