.home-banner {
  background-image: url(https://images.unsplash.com/photo-1509824227185-9c5a01ceba0d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=658&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.center-block {
  background: #FFFFFF;
  box-sizing: border-box;
  justify-content: center;
  overflow: hidden;
  border-radius: 7px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  box-shadow: 0 2px 49px 20px rgba(0,0,0,.07);
}

.text-home{
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: #FFFFFF;
  font-weight: bold;
}

.form-tag {
  width: 50%;
  text-align: center;
  a {
    width: 100%;
    height: 100%;
    background-color: $black;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    padding: 8px;
  }
  a.active {
    background-color: white;
    color: $primary;
    text-decoration: none;
    font-weight: bold;
  }
}

.select.required {
  color: $gray;
  font-weight: light;
}

.past-event-card-home {
  text-align: left;
}



