.reviews-new{
    font-size: 23px;
}
.checked {
    color: $primary;
}
.fa-undo-alt{
    color: $primary;
}
.review-container {
  margin-bottom: 10px;
}
.review-row{
  margin-bottom: -46px;
}
.review-col{
  margin-bottom: 30px;
}
#review_description {
  margin: 18px auto;
}
@media (min-width: 700px) {
  #review_description {
    margin-left: 8px;
  }
}
