<div class="container loading-page">
  <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  <h6>Finding your dream event...</h6>
</div>

