<div class="container onload='myFunction()'">
  <div class="loading-page" id="loader">
    <div class="lds-spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <h6 id="loading-sentence" data-sentences="<%= ["Searching for events in #{@booking.city}", "Searching for events within #{@booking.budget}€", "Searching for events with #{@booking.audiences.first} audience"].to_json %>">
      Finding your dream event...
    </h6>
  </div>

  <div style="display:none;" id="myDiv" class="animate-bottom">
    <div class="container confirmation">
      <h4>We succesfully found your perfect surprise event!</h4>
      <i class="far fa-check-circle"></i>
      <%= link_to "See events", dashboard_path, class: "button-rounded d-block" %>
    </div>
  </div>
</div>
