
<div class="container confirmation">
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <lottie-player id="animation" src="https://assets8.lottiefiles.com/packages/lf20_yRlEmx.json"  background="transparent"  speed="1"  style="width: 600px; height: 600px;"  loop  autoplay></lottie-player>
  <h4 class="text-loading">You succesfully booked your perfect surprise event!</h4>
  <i class="far fa-check-circle"></i>
  <%= link_to "Go to Dashboard", dashboard_path, class: "button-rounded d-block btn-budget" %>
</div>


