<div class="page-footer fixed-bottom">

  <div class="terms d-flex justify-content-around mt-4 mb-3 px-3">
    <a href="">Terms & Conditions</a>
    <a href="">Privacy policy</a>
    <a href="">Cookies policy</a>
  </div>


   <div class="social-media d-flex justify-content-center my-3">
    <a href="#"><i class="fab fa-twitter-square mx-4"></i></a>
    <a href="#"><i class="fab fa-facebook-square mx-4"></i></a>
    <a href="#"><i class="fab fa-instagram mx-4"></i></a>
  </div>

</div>
