<footer>
  <div class="footer-area-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-icons">
            <ul>
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-github"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="credits">
            <a href="#">Privacy Policy</a> | <a href="#">Terms & Condition</a>
          </div>
          <div class="copyright text-center">
            <p>
              &copy; Copyright 2020. | <strong><a href="#">Mansions Beats & Booze </a></strong> | All Rights Reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
