<div class="page-footer mt-5">

  <div class="terms d-flex justify-content-center text-align-center mt-4">
    <a href="#">Términos y condiciones</a>
    <p>-</p>
    <a href="#">Política de privacidad</a>
    <p>-</p>
    <a href="#">Política de Cookies</a>
  </div>
   <div class="social-media d-flex justify-content-center">
    <a href="#"><i class="fab fa-twitter-square mx-1"></i></a>
    <a href="#"><i class="fab fa-facebook-square mx-1"></i></a>
    <a href="#"><i class="fab fa-instagram mx-1"></i></a>
  </div>

</div>
