<div class="progressbar-wrapper">
  <div class="line">
  </div>
  <% [new_booking_date_path, new_booking_category_path, new_booking_option_path, new_booking_budget_path, new_booking_date_path ].each_with_index do |link, index| %>
    <% if step >= index + 1 %>
      <%= link_to index + 1, link, class: "pearl #{'active' if step == index + 1}" %>
    <% else %>
      <div class="pearl">
        <%= index + 1 %>
      </div>
    <% end %>
  <% end %>
</div>
