<div class="progressbar-wrapper">
  <div class="line">

  </div>

  <div class="pearl active">1</div>
  <div class="pearl">2</div>
  <div class="pearl">3</div>
  <div class="pearl">4</div>
  <div class="pearl">5</div>

</div>
