

<%# Iteration to countdown card  %>

<h1>Dashboard</h1>

<% @user_bookings.each do |booking| %>
   <p>Starting in: <%= booking.countdown %> hours</p>
   <% if booking.event_is_tomorrow? %>
      <p>less than 24 hours!</p>
   <% end %>
<% end %>


<!-- HTML for the container with 2 types of cards -->

<!-- <div class="container p-4">

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="general-card d-flex">
        <div class="countdown">
          <h5>6d</h5>
          <h4><strong>20:35</strong></h4>
          <h5>45s</h5>
        </div>
        <div class="text_div">
          <h4>Until your next exciting Helio event!</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="picture-card general-card d-flex">
        <img class="image" src="https://images.unsplash.com/photo-1585699324551-f6c309eedeca?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80">
        <div class="title_dscrp">
          <h4>Event title</h4>
          <p>a very basic and short description </p>
        </div>
      </div>
    </div>
  </div>

</div> -->

