

<%# Iteration to countdown card  %>

<% @user_bookings.each do |booking| %>
   <p>Starting in: <%= booking.countdown %> hours</p>
   <% if booking.event_is_tomorrow? %>
      <p>less than 24 hours!</p>
   <% end %>
<% end %>