<div class="container p-4">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h2 class="mb-4 title">Upcoming Events</h2>
      <div class="general-card card-product my-3">
        <img class="image" src="https://images.unsplash.com/photo-1585699324551-f6c309eedeca?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80">
        <div class="card-product-info">
          <h5>Surprise, surprise!</h5>
          <p>Until your next exciting Helio event!</p>
        </div>
      </div>

      <div class="general-card card-product my-3">
        <img class="image" src="https://images.unsplash.com/photo-1585699324551-f6c309eedeca?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80">
        <div class="card-product-info">
          <h5>Surprise, surprise!</h5>
          <p>Until your next exciting Helio event!</p>
        </div>
      </div>

      <div class="general-card card-product">
        <div class="countdown">
          <h6>6d</h6>
          <h5><strong>20:35</strong></h5>
          <h6>45s</h6>
        </div>
        <div class="text-countdown-card">
          <h5>Until your next exciting Helio event!</h5>
        </div>
      </div>

    </div>
  </div>
</div>

<%# Iteration to countdown card  %>

<% @user_bookings.each do |booking| %>
   <p>Starting in: <%= booking.countdown %> hours</p>
   <% if booking.event_is_tomorrow? %>
      <p>less than 24 hours!</p>
   <% end %>
<% end %>

