<div class="container p-4">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h2 class="mb-4 title">Upcoming Events</h2>

      <% @user_bookings.each do |booking| %>
        <div class="general-card card-product my-3">
          <!-- First Card with black background and countdown -->
          <div class="countdown <%= "soon" if booking.event_is_tomorrow? %>" data-start-date="<%= booking.iteration.start_date %>">

            <h6 class="days">6d</h6>
            <h5><strong class="time">20:35</strong></h5>
            <h6 class="seconds">45s</h6>
          </div>
          <div class="my-3">
            <div class="card-product-info">
              <% if booking.event_is_tomorrow? %>
                <h5><%= link_to booking.iteration.event.title, event_path(booking.iteration.event) %></h5>
                <p>less than 24 hours for your Helio experience!</p>
              <% else %>
                <h5>Surprise, surprise!</h5>
                <p>Time until your next Helio experience!</p>
              <% end %>
            </div>
          </div>
        </div>
         
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer"  %>



