<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<a href="#" class="button-rounded">GET STARTED</a>

<div class="my-5">
  <a href="#" class="button-next">NEXT</a>

</div>




<%= render "shared/footer"  %>

