<h4>Discover surprise cultural events in your city</h4>
<h6>Know your adventure 24h before</h6>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class = "center-block">
        <p>Wich city?</p>
        <p>How many people?</p>
        <a href="#" class="button-rounded">GET STARTED</a>
      </div>
    </div>  
  </div>
</div>


<div class="my-5">
  <a href="#" class="button-next">NEXT</a>

</div>




<%= render "shared/footer"  %>

