<div class="container">
  <div class="title-centered">
    <h1 class="dot-gray-bg">.</h1>
    <h1>Checkout</h1>
  </div>

  <div class="title-centered dot-gray-bg">
    <h2>.</h2>
    <h2>.</h2>
    <h2>.</h2>
  </div>

<div>
  <div class="general-card card-product my-3">
    <div class="countdown">
      <h6 class="dot-black">.</h6>
      <h5><strong class="time">helio</strong></h5>
      <h6 class="dot-black">.</h6>
    </div>
    
    <div class="text-countdown-card">
      <h5>Your helio experience</h5>
    </div>
  </div>
</div>

<%= link_to "PAY", dashboard_path, class: "button-rounded d-block btn-budget" %>
</div>