<div class="container">
  <div class="title-centered">
    <h1>Checkout</h1>
  </div>

  <div class="title-centered">
    <h2>Pay</h2>
  </div>

  <div>
  </div>
  

<%= link_to "PAY", dashboard_path, class: "button-rounded d-block btn-budget" %>
</div>