.rangeslider__fill {
  background: #00A0BA;
  height: 10px;
}
.rangeslider {
  height: 10px;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 100px;
  max-width: 60%;
}
.rangeslider__handle {
  height: 25px;
  width: 25px;
  top: 5px;
}
#budgetJs {
  text-align: center;
  padding: 20px 10px 40px 70px;
}

.budget-person {
  text-align: center;
  padding: 30px 10px 40px 0px;
}
