.rangeslider__fill {
    background: #00A0BA;
    height: 20px;
}
.rangeslider {
    height: 10px;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 100px;
}
.rangeslider__handle {
    height: 25px;
    width: 25px;
}
#budgetJs {
    text-align: center;
    padding: 40px;
}