.button-rounded {
  border: none;
  color: white;
  font-weight: 600;
  background-color: $primary;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  position: absolute;
  cursor: pointer;
}

.button-secondary {
  border: none;
  color: white;
  font-weight: 400;
  font-size: 12px;
  color: $primary;
  text-align: center;
  text-decoration: none;
  border: 1px solid $primary;
}

.button-next {
  border: none;
  color: white;
  font-weight: 600;
  background-color: $primary;
  padding: 10px 100px;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
}

.fixed-button {
  position: fixed;
  bottom: 0%;
  left: 0%;
}


.button-rounded-desktop {
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: 600;
  background-color: $primary;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  width: 20vw;
  cursor: pointer;
}

.fixed-button-desktop .pick-dates-desktop {
  position: absolute;
  bottom: 2%;
  left: 39%;
}