.button-rounded {
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  background-color: $primary;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  width: 90vw;

  cursor: pointer;
}

.button-next {
  border: none;
  color: white;
  font-weight: 600;
  background-color: $primary;
  padding: 10px 100px;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
}
