.general-card {
    box-shadow: 1px 1px 3px #868686;
    // box-shadow: 2px 2px 2px rgba(133, 133, 133, 0.705);
    border-radius: 5px ;
    padding: 5 px;
  }

.picture-card {
  // background-image: linear-gradient(direction, rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.705);
  border-radius: 5px ;
  padding: 5 px;
}

.light-border {
  border: 2px solid #868686;
}

.primary-border {
  border: 2px solid #00A0BA;
}

