.general-card {
  box-shadow: 1px 1px 10px $gray-border;
  border-radius: 4px;
}

// Instructions card

.instructions-card {
  height: 140px;
  padding: 24px;
  padding-top: 30px;
  background-color: white;
}

.steps {
  font-size: 20px;
  color:#01A0BA;
  font-weight: bold;
}

// Past Events card

.event-card {
  height: 180px;
  position: relative;
  background-size: cover;
}

.fa-chevron-circle-right {
  color:#DADADA;
  font-size: 30px;
  position: absolute;
  right: 12px;
  top: 76px;
}

.event-date {
  position: absolute;
  bottom: 20px;
  left: 24px;
}

.rosa {
  background-image: url(https://www.elnacional.cat/uploads/s1/95/02/15/5/rosalia-concert-barcelona-efe.jpeg);
  background-size: cover;
  color:white;
}

.tricicle {
  background-image: url(https://teatrolopezdeayala.es/images/shows/1550484061TRICICLE-5.jpg);
  background-size: cover;
  color:white;
}

.event-title{
  color: white;
}
// Reviews card

.review-card {
  height: 140px;
  position: relative;
  margin: 8px 0;
  background-color: white;
}

.numbers {
  font-size: 20px;
  color:#01A0BA;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 18px;
}

.fa-star {
  color:grey;
}

.fa-user-check {
  color: black;
  margin-left: 10px;
}

.review-text {
  padding: 22px;
  padding-top: 28px;
  position: absolute;
  left: 64px;
  top: 6px;
}

.avatar-small {
  position: absolute;
  left: 12px;
  top: 42px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

// Link to see al past events & all reviews

.linky {
  text-align: center;
}

// Color for Titles h2
.title {
  color: rgb(44, 43, 43);
}

.title-centered {
  text-align: center;
}

.categories {
  height: 90px;
  color:white;
  text-align:center;
  opacity: 1;
  animation: opacity 1s;
}

input:checked + label {
 opacity: 0.3;
}

// Dashboard Cards with Countdown

.countdown {
  height: 100%;
  width: 130px;
  display:block;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  background-color: black;
  color: white;
  padding-top: 12px;
}
.countdown.soon{
  background-color: $primary;
  width: 150px;
}
.text-countdown-card {
  padding: 10px;
  margin-left: 6px;
}

.text-countdown-card h5 {
  color: $primary;
}

// Dashboard Cards with Picture

.card-product {
  overflow: hidden;
  height: 100px;
  background: white;
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 150px;
  object-fit: center;
  align-items: stretch;
  text-align: center;
}

.card-product p {
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-info {
  padding: 16px;
}

.card-product-info h5 {
  color: $primary;
}

.event-image {
  width: 100px;
  height: 100%;
  background-size: cover;
  background-position-x: center;
}

.link-review {
  display: block;
  font-weight: bolder;
  text-decoration: underline;
}
