.page-footer {
  background: $black;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 16vh;
  width: 100vw;
}

.terms a {
  color: white;
  font-size: 0.7rem;
}

.social-media a {
  color: white;
}

a > i {
  color: white;
  &:hover {
    color: rgb(216, 216, 216);
  }
}

.terms {
  display: flex;
  justify-content: center;
  p {
    padding: 8px 8px;
    margin-bottom: 0;
  }
}

.terms > a {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: rgb(107, 108, 108);
    text-decoration: none;
  }
}

.social-media i {
  font-size: 20px;
  padding: 8px;
}
