
.navbar {
  background: $primary;
  color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-family: "Sansita";
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin-left: 10px;
}
.navbar-light .navbar-toggler {
  border-color: transparent;
}

.fas {
  font-size: 34px;
  color: white;
}
.nav-link {
  color: white;
}
